
body{
  font-family: 'Roboto', sans-serif;
}
.body{
  display: flex;
  justify-content: center;
}
.b_index{
  margin-top: 20%;
}
.create{
  margin-top: 2%;
}
.h1{
  color: black;
}
h1{
  font-size: 24px;
  color: white;
}
.index{
  border: 1px solid #d4d4d4;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.title{
  border-bottom: 1px solid #0c89f2;
  background: #0c89f2;
  width: 100%;
  text-align: center;
  margin-bottom: 18px;
}
.section_div{
  width: 469px;
}
.divs_form{
  box-sizing: content-box;
  margin-bottom: 9px;
}

.par{
  background: #0C89F2;
  padding: 8px;
  border-radius: 3px;
  color: white;
  display: inline-block;
  width: 40%;

}

.phone{
  position: absolute;
  padding: 8px 9px;
}
.font-aweson{
  position: absolute;
  background: #d4d4d4;
  padding: 8px 9px;
}
.input-text{
  padding: 8px 0px 6px 3px;
  border: 1px solid #d4d4d4;
  width: 42%;
}
.ingresar{
  display: flex;
  flex-direction: row-reverse;
  margin-right: 61px;
}
.buscar{
  background: #1F6FEB;

}
.btn  {
  border: none;
  border-radius: 3px;
  color: white;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}
.btni{
  border: none;
  border-radius: 3px;
  color: white;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
}
.nuevo{
  background: #049D4C;
  text-decoration: none;
}
.estado{
  margin-left: 22px;
}

.primary{
  background: #1F6FEB;
  margin-bottom: 15px;
}

.body_back_office{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 13px;
}
th {
  border: 1px solid black;
  padding: 10px;
  background: #01DFED;
}
td{
  border: 1px solid black;
  padding: 10px;
}
table{
  border-collapse: collapse;
}
h2{
  font-size: 15px;
  width: 100%;
  text-align: center;
}
.panel{
  background: #d4d4d4;
  width: 100%
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 11px;
  border: 1px solid #d4d4d4;
}
.nombre{
  background: #0C89F2;
  padding: 8px;
  border-radius: 3px;
  margin-right: 20px;
  color: white;
}

.search{
  border: 1px solid black;
  border-radius: 17px;
  height: 27px;
  padding-left:  25px;
}
.icon{
  position: relative;
}

.i_search{
  position: absolute;
  top: 5px;
  left: 7px;

}
.not{
  color: red;
}
.limpiar{
  background: #25a045;
}
.cancelar{
  background: #ec4b0e;
  text-decoration: none;
}
.guardar{
  background: #2cccc8;
  text-decoration: none;
}
.actions{
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 9px;
}
.input-text-icon{
  padding: 10px 0px 6px 36px;
  border: 1px solid #d4d4d4;
  width: 35%;
}
.checkbox{
  font-size:10px;
  display: inline-block;
}
.input-radio{
  font-size:12px;
  display: inline-block;
}
.actions label{
  margin-left: 19px;
}
.editarfila{
  background:  #0C89F2;
  padding: 4px 10px;
  margin-right: 11px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}
.borrarfila{
  padding: 4px 11px;
  background: #EC3701;
  border-radius: 3px;
  cursor: pointer;
}
.etiqueta_a{
  margin-top: 10px;
}
@media screen and (max-width:1118px){
  .index{
    width: 100%;
  }
}
@media screen and (max-width:670px) {
   .divs_form{
     display: grid;
     text-align: center;
   }
   .par{
     text-align: center;
     margin: 0 auto;

   }
   .primary{
     padding: 10px 15px;
   }
   .ingresar label{
     margin: 0 auto;
     width: 43%;
     display: grid;
   }
   .input-text{
     margin: 0 auto;
   }
   .par{
     height: 21px;
   }
   .actions{
     display: grid;
     text-align: center;
   }
   .actions label  {
     margin-bottom: 18px;
     margin-left: 0px;
   }
   .btn{
     padding: 10px 0px;
     width: 43%;
   }
   .menu{
     flex-direction: column;
   }
   .nombre{
     margin-right: 0px;
     width: 71%;
     text-align: center;
     margin-bottom: 5px;
   }
   .search{
     width: 100%;
     margin-bottom: 10px;
   }
   .l_buscar{
     width: 178%;
     text-align: center;
     margin-bottom: 10px;
    }
    .l_nuevo{
      width: 194%;
      text-align: center;
      margin-bottom: 4px;
    }
    .nuevo{
      padding: 10px 74px;
      width: 40%;

    }
    .bucar{
      padding: 10px 0px;
      width: 64%;
    }
    section{
      width: 90%;
      align-items: center;
      margin: 10px auto;
    }
    .index{
      width: 100%;
    }
    .ingresar{
      margin-right: 0px;
    }

    .btni{
      width: 100%;
    }
    .table{
      overflow: scroll;
      width: 250px;
      height: 141px;
    }
    .cancelar{
      padding: 10px 69px;
    }
    .guardar{
      padding: 10px 71px;
    }
    .editarfila{

      padding: 4px 5px;

    }
    .borrarfila{
      padding: 4px 6px;

    }
}
